<div class="container">
  <div class="card mt-2">
    <div class="card-head card-head-bottom head-title">
      <form>
        <div class="row justify-content-around">
          <div class="col p-3">
            <span class="title">
              News Feed
            </span>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <label></label>
            <input #search [(ngModel)]="searchText"
                   [ngModelOptions]="{standalone: true}"
                   class="form-control" type="search" placeholder="Search" aria-label="Search">
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <ng-select
              [items]="sourceList"
              bindLabel="name"
              name="source"
              dropdownPosition="bottom"
              placeholder="Select Source..."
              [(ngModel)]="selectedSource"
              (change)="onSelectSource()"
            >
            </ng-select>
          </div>
        </div>
      </form>
    </div>
    <div class="card-body card-body-back-ground">
      <div class="row mb-2">
        <div class="col-md-12" *ngFor="let news of dataList | searchPipe: search.value;let i = index;">
          <div class="card flex-md-row mb-4 box-shadow h-md-250 card-border">
            <img *ngIf="news.imageUrl"
                 class="card-img-left flex-auto img-header"
                 [src]="news.imageUrl">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">
                {{news?.title}}
              </strong>
              <p class="card-text mb-auto">
                {{news?.description}}
              </p>
              <a style="cursor: pointer;" *ngIf="news.url" (click)="onClickReadMore(news.url)">
                <span class="badge badge-primary badge-pill">
                Read More..
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
