.img-header {
  height: 250px;
  width: 200px;
}

.card-border {
  border: 2px solid rgb(0 123 255 / 50%);
}

.head-title {
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(200, 229, 247) 100%);
}

.card-head-bottom {
  border-bottom: 0.2em solid rgb(0 123 255 / 25%);
}

.title {
  font-size: 32px !important;
  font-weight: normal !important;
}

.card-body-back-ground {
  background-image: linear-gradient(
    0.5deg
    , rgb(247 242 242) 0%, rgb(227 236 241 / 15%) 100%) !important;
}
