/*Style By Dhairya Bhavsar */
@import "~@ng-select/ng-select/themes/material.theme.css";

html, body { height: 100%; }
body {
  margin: 0;
  /*font-family: Roboto, "Helvetica Neue", sans-serif;*/
  background: url("assets/images/login-back.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
